<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881565101160-em51or039hihp4mb8k5qdho1ov9rf42b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881565101160-em51or039hihp4mb8k5qdho1ov9rf42b</string>
	<key>API_KEY</key>
	<string>AIzaSyCnqt9a6pQRYMp3HZ0rydbych7-MetvhCE</string>
	<key>GCM_SENDER_ID</key>
	<string>881565101160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dgsapp</string>
	<key>PROJECT_ID</key>
	<string>dgs-app-deaaa</string>
	<key>STORAGE_BUCKET</key>
	<string>dgs-app-deaaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881565101160:ios:33200d2734230299591fdd</string>
</dict>
</plist>